div {
    border-top: 2px solid #ff8500;
    border-bottom: 2px solid #edeef0;
    text-align: center;
}

span {
    display: inline-block;
    line-height: 42px;
    /*width: 100px;*/
    font-size: 12px;
}

span:hover {
    color: #ff8500;
    background-color: #edeef0;
}